html { font-size: 62.5%; height: 101%; }
body { background: #fff; font-family: "Calibri", Arial, sans-serif; }
h2 { font-size: 1.8em; line-height: 1.9em; margin-bottom: 15px; }

.s2 {
    word-wrap: break-word;
}

.s2 p {
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
}

.s2 h1 {
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
}

.s2 h2 {
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
}

.s2 h3 {
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
}

.s2 h4 {
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
}

.s2 h5 {
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
}

.s2 h6 {
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
}

.s5screenWidthBackground {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.s5[data-state~="fixedPosition"] {
    position: fixed !important;
    left: auto !important;
    z-index: 50;
}

.s5[data-state~="fixedPosition"].s5_footer {
    top: auto;
    bottom: 0;
}

.s5_bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(85, 85, 85, 0.2);
    border-top: 0 solid transparent;
    border-bottom: 0 solid transparent;
}

.s5bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    border-radius: 0;
}

.s5inlineContent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.s5centeredContent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.s9[data-state~="fixedPosition"] {
    position: fixed !important;
    left: auto !important;
    z-index: 50;
}

.s13 {
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    height: 0 !important;
    min-height: 0 !important;
}

.s14inlineContent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.s17 {
    border-bottom: 2px solid rgba(182, 182, 182, 1);
    height: 0 !important;
    min-height: 0 !important;
}

.s17 {
    border-bottom: 2px solid rgba(182, 182, 182, 1);
    height: 0 !important;
    min-height: 0 !important;
}

.s14bg {
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 0 solid rgba(0, 0, 0, 1);
    border-bottom: 0 solid rgba(0, 0, 0, 1);
}