html {
    font-size: 62.5%;
    height: 101%;
}

body {
    background: #fff;
    font-family: "Calibri", Arial, sans-serif;
}

h2 {
    font-size: 1.8em;
    line-height: 1.9em;
    margin-bottom: 15px;
}

.font_0 {
    font: normal normal bold 26px/1.1em 'courier new', courier-ps-w01, courier-ps-w02, courier-ps-w10, monospace;
    color: #555555;
}

.font_1 {
    font: normal normal normal 34px/1.3em Verdana, geneva, sans-serif;
    color: #555555;
}

.font_2 {
    font: normal normal normal 25px/1.2em Verdana, geneva, sans-serif;
    color: #555555;
}

.font_3 {
    font: normal normal bold 19px/1.3em 'courier new', courier-ps-w01, courier-ps-w02, courier-ps-w10, monospace;
    color: #555555;
}

.font_4 {
    font: normal normal normal 18px/1.3em Arial, 'ms pgothic', dotum, helvetica, sans-serif;
    color: #555555;
}

.font_5 {
    font: normal normal normal 12px/1.3em Arial, 'ms pgothic', dotum, helvetica, sans-serif;
    color: #555555;
}

.color_1 {
    color: #555555;
}

.color_2 {
    color: #FFFFFF;
}

.common {
    word-wrap: break-word;
}

.common p {
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
}

.common h1, .common h2, .common h3, .common h4, .common h5, .common h6 {
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
}

.footer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.footerBackground {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(85, 85, 85, 0.2);
    border-top: 0 solid transparent;
    border-bottom: 0 solid transparent;
}

.topDivider {
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    height: 0 !important;
    min-height: 0 !important;
}

.middleDivider {
    border-bottom: 2px solid rgba(182, 182, 182, 1);
    height: 0 !important;
    min-height: 0 !important;
}

.siteBackground {
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 0 solid rgba(0, 0, 0, 1);
    border-bottom: 0 solid rgba(0, 0, 0, 1);
}

.nav-item {
    font-size: 2.0em;
    font-weight: bold;
}

.divider-vertical {
    height: 40px;
    margin: 0 9px;
    border-left: 1px solid #D2D2D2;
    border-right: 1px solid #D2D2D2;
}

.form-control {
    font-size: 1.4em;
}

.btn-danger, .btn-success, .btn-basic {
    font-size: 1.4em;
}

.bootstrap-label {
    font-size: 1.4em;
}

.SITE_ROOT {
    min-height: 100%;
    position: relative;
    margin: 0 auto;
}